/* Hack is our titling font. */
@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular.woff2?sha=3114f1256') format('woff2'), url('../fonts/hack-regular.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bold.woff2?sha=3114f1256') format('woff2'), url('../fonts/hack-bold.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-italic.woff2?sha=3114f1256') format('woff2'), url('../fonts/hack-italic.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bolditalic.woff2?sha=3114f1256') format('woff2'), url('../fonts/hack-bolditalic.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: italic;
}

:root {
  --md-code-font: Hack, Monospace;
  --md-admonition-icon--hsi: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 15.5A3.5 3.5 0 0 1 8.5 12 3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5 3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97 0-.33-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1 0 .33.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.66Z"/></svg>')
}

[data-md-color-scheme="slate"] {
    --md-hue: 205; /* slightly more blue than default */
  }  

.md-header__title, h1{
    font-family: var(--md-code-font);
}

.md-button {
    font-family: var(--md-code-font);
    font-size: 0.75rem;
    width: 360px;
    text-align: center;
}

.md-social__link svg {
    vertical-align: middle;
}
  
/* Social links icons */
.jh-social {
    margin: auto;
    display: flex;
    align-items: baseline;
    padding: 0px;
    margin-top: 15px;
}

/* Card grids */

/* .nt-card .nt-card-image
{
    min-height: 80px;
    vertical-align: baseline;
}

.nt-card .nt-card-image img {
    height: 64px;
}

.nt-card .nt-card-content {
    min-height: 125px;
}

.nt-card .nt-card-title {
    text-align: center;
    font-size: 1rem;
}

.nt-card .nt-card-text {
    font-size: 0.7rem;
}*/

.nt-card .nt-gallery-image {
    text-align: center;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
    margin-top:5px;
}

.nt-card .nt-gallery-image img {
    height:200px;
}

.nt-gallery-content {
    padding:.4rem
}

.nt-card .nt-gallery-title {
    text-align: center;
    font-size: 0.9em;
    font-weight: 700;
    margin:4px 0 8px 0;
    line-height:20px
}

/* Glightbox settings */
.gslide-desc {
    font-family: var(--md-body-font);
}

.gslide-title {
    font-family: var(--md-header-font);
}

/* primarily for the pro/con list*/ 
.jh-green {
    color: green;
}

.jh-red {
    color: crimson;
}

.jh-proconlist .task-list-item {
    list-style-type: none !important;
} 
 
.jh-proconlist .task-list-control input[type="checkbox"] + .task-list-indicator::before {
    mask-image: var(--jh-con-icon);
    background-color: #cc2222;
} 

.jh-proconlist .task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
    mask-image: var(--jh-pro-icon);
    background-color: #1EBB52;
} 

.jh-grid-container, .nt-cards.nt-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    gap: 0.5rem 0.25rem;
    max-width: 100vw;
    overflow-x: auto;
    padding: 1px;
    /* align-items: center; */
}

.jh-grid-1, .nt-grid.cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.jh-grid-2, .nt-grid.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.jh-grid-3, .nt-grid.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.jh-grid-4, .nt-grid.cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.jh-grid-5, .nt-grid.cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.jh-grid-6, .nt-grid.cols-6 {
    grid-template-columns: repeat(6, 1fr);
}

@media only screen and (max-width: 400px) {
    .jh-grid-container, .nt-cards.nt-grid {
        grid-template-columns:repeat(1, 1fr) !important
    }
}

.jh-link-cards>.nt-card>a>div {
    text-align: center;
    padding: 10px 5px;
    border: 2px solid var(--md-primary-fg-color);
    border-radius: 3px;
    background-color: var(--md-primary-bg-color--lighter);
    color: var(--md-primary-fg-color);
    transition: color 125ms,background-color 125ms,border-color 125ms;
    font-family: var(--md-code-font);
    font-size: 0.75rem;
    font-weight: 700;
}

.nt-card>a>div:is(:focus, :hover) {
    border-color: var(--md-accent-fg-color);
    /* background-color: var(--md-accent-fg-color); */
    color: var(--md-accent-fg-color);
    transition: color 125ms, background-color 125ms, border-color 125ms;
}

/* common settings for links or generic cards */
.nt-card>.nt-card-wrap>div, .nt-card>a>div {
    margin: 0rem 0.2rem;
    padding: 0.25rem 0.5rem 0.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--md-default-fg-color--light);
    border-radius: 3px;
    background-color: var(--md-default-bg-color);
    box-shadow: 0 0 3px 0px var(--md-default-fg-color--lightest)
}

.nt-card>a>div
{
    border-color: var(--md-typeset-a-color);
    border-width: 2px;
} 

/* internal title & text margins */
.nt-card-content {
    padding:.2rem .2rem .2rem .2rem
}

/* default title text */
.nt-card .nt-card-title {
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    margin: 0.1rem;

}

.nt-card .nt-card-text {
    padding: 0;
    margin: 0 0.2rem;
    color: var(--md-default-fg-color);
    font-size: 0.75rem;
}

/* image container */
.nt-card .nt-card-image {
    max-height: 120px;
    text-align: center;
    margin-top: 0.5rem;
}

/* image height insanity control */
.nt-card .nt-card-image img {
    max-height: 105px;
}

.nt-card>.nt-card-wrap>div:is(:focus, :hover),
.nt-card>a>div:is(:focus, :hover) {
    box-shadow: 0px 0px 3px 0px var(--md-default-fg-color--lightest), 0px 0px 1px 2px var(--md-default-fg-color--lightest);
    transition: 125ms;
}

.jh-link-grid p {
    display: contents;
}

.jh-link-grid a {
    text-align: center;
    padding: 10px 5px;
    border: 2px solid var(--md-primary-fg-color);
    border-radius: 3px;
    background-color: var(--md-primary-bg-color--lighter);
    color: var(--md-primary-fg-color);
    transition: color 125ms,background-color 125ms,border-color 125ms;
    font-family: var(--md-code-font);
    font-size: 0.75rem;
    font-weight: 700;
}

.jh-link-grid a:is(:focus, :hover) {
    border-color: var(--md-accent-fg-color);
    background-color: var(--md-accent-fg-color);
    color: var(--md-primary-bg-color);
    transition: color 125ms, background-color 125ms, border-color 125ms;
}

.jh-card {
    margin: 0rem 0.2rem 0.5rem;
    padding: 0.25rem 0.5rem 0.2rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--md-default-fg-color--light);
    border-radius: 3px;
    background-color: var(--md-default-fg-color--lightest)
}

.jh-card:is(:focus, :hover) {
    box-shadow: 0px 0px 3px 0px var(--md-default-fg-color--lightest), 0px 0px 2px 2px var(--md-default-fg-color--lightest);
    transition: 150ms;
}

.jh-card>h2, .jh-card>h3, .jh-card>h4, .jh-card>h5, .jh-card>h6 {
    margin-top: 0.25em;
}

.jh-grid-container>.jh-grid-para {
    vertical-align: top;
}

.jh-grid-container>.jh-grid-img {
    margin: 0 1rem;
}

.jh-photo {
    width: 250px;
    float: right;
    border-radius: 25px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.7);
    margin: 0rem 0rem 1rem 1rem;
}


.jh-badge {
    font-size: 0.6rem;
    display: inline-block;
    margin: 2px;
    border-width: 1px;
    border: 1px solid var(--md-code-hl-color--light);
    border-radius: 2.5px;
    font-family: var(--md-code-font-family);
}

.jh-icon-badge {
    padding: 2px;
    font-size: 0.75rem;
    background-color: var(--md-code-hl-color--light);
}

.jh-text-badge {
    padding-right: 2px;
}

span.jh-icon-badge {
    color: var(--md-primary-fg-color--light);
} 

span.jh-icon-badge :is(:hover, :focus) {
    color: var(--md-primary-fg-color);
}

.jh-cover-img img {
    border: 2px solid var(--md-primary-fg-color);
    border-radius: 15px;
}

.md-typeset .admonition.hsi,
.md-typeset details.hsi {
  border-color: rgb(212, 154, 46);
}
.md-typeset .hsi > .admonition-title,
.md-typeset .hsi > summary {
  background-color: rgba(212, 154, 46, 0.1);
}
.md-typeset .hsi > .admonition-title::before,
.md-typeset .hsi > summary::before {
  background-color: rgb(212, 154, 46);
  -webkit-mask-image: var(--md-admonition-icon--hsi);
          mask-image: var(--md-admonition-icon--hsi);
}